.admin-bar{
    display: block;
    width: 100%;
    height: 70px;
    padding: 10px;
    background-color: $linkedin;
    -webkit-box-shadow: 0px 1px 10px 0px rgba(50, 50, 50, 0.6);
    -moz-box-shadow:    0px 1px 10px 0px rgba(50, 50, 50, 0.6);
    box-shadow:         0px 1px 10px 0px rgba(50, 50, 50, 0.6);
    img{
        height: 100%;
    }
}
.login-page{
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: block;
    background-image: url('../img/newyork.jpg');
    background-position: center center;
    background-size: cover;
    &-panel{
        width: 500px;
        height: 300px;
        background-color: $white-transparent;
        position: absolute;
        top:0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        text-align: center;
        padding: 20px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        &-fields{
            margin: 20px;
        }
        ::placeholder{
            color: $dark-grey;
        }
        .login-button{
            display:inline-block;
            padding:0.35em 3.5em;
            border:0.1em solid $linkedin;
            margin:0 0.3em 0.3em 0;
            border-radius:0.12em;
            box-sizing: border-box;
            text-decoration:none;
            font-family:'Roboto',sans-serif;
            font-weight:300;
            color: $linkedin;
            text-align:center;
            transition: all 0.2s;
            cursor: pointer;
            &:hover{
                color: $white;
                background-color: $linkedin;
            }
        }
    }
}
.admin{
    &-panel{
        margin-top: 30px;
        h2{
            text-align: center;
            color: $linkedin;
        }
        .add-button{
            float: right;
            background-color: $linkedin;
            display: inline-block;
            padding: 10px 50px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            &:hover{
                background-color: $linkedin-active;
            }
            a{
                color: $white;
            }
        }
        &-grid{
            &-item{
                background-color: $white;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                border-radius: 5px;
                margin: 20px 0;
                min-height: 100px;
                padding: 10px;
                -moz-transition: all .2s ease-in;
                -o-transition: all .2s ease-in;
                -webkit-transition: all .2s ease-in;
                transition: all .2s ease-in;
                &:hover{
                    transform: translate(0,-5px);
                    -moz-transition: all .2s ease-in;
                    -o-transition: all .2s ease-in;
                    -webkit-transition: all .2s ease-in;
                    transition: all .2s ease-in;
                    -webkit-box-shadow: 0px 2px 2px 0px rgba(50, 50, 50, 0.5);
                    -moz-box-shadow:    0px 2px 2px 0px rgba(50, 50, 50, 0.5);
                    box-shadow:         0px 2px 2px 0px rgba(50, 50, 50, 0.5);
                }
            }
        }
        .record-date{
            &-item{
            }
        }
    }
    &-detail{
        margin-top: 30px;
        h2{
            text-align: center;
            color: $dark-grey
        }
        &-actions{
            text-align: center;
            height: 75px;
            margin: auto 0;
            padding:10px 0;
            span{
                font-size: 20px;
            }
        }
        .back-button{
            height: 30px;
            text-align: left;
            margin: 10px 0;
            img{
                height: 100%;
                margin-bottom: 3px;
            }
        }
        .edit-button{
            background-color: $linkedin;
            display: inline-block;
            padding: 10px 50px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            &:hover{
                background-color: $linkedin-active;
            }
            a{
                color: $white;
            }
        }
        .delete-button{
            float: right;
            background-color: $red;
            padding: 10px 50px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            &:hover{
                background-color: $red-active;
            }
            a{
                color: $white;
            }
        }
        &-block{
            background-color: $white;
            text-align: center;
            padding: 20px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            hr{
                border: 1px solid $linkedin;
            }
            &-maps{
                display: block;
                width: 100%;
                height: 500px;
            }
            &-text{
                text-align: left;
                p{
                    color: $dark-grey;
                }
            }
            &-signups{
                table{
                    thead, tbody, tr, td, th { display: block; }
                    tbody tr, thead tr{
                        display: flex;
                        // float: left;
                    }
                    -webkit-border-radius: 5px;
                    -moz-border-radius: 5px;
                    border-radius: 5px;
                    th{
                        background-color: $linkedin;
                        color: $white;
                        text-align: center;
                        width: 100%;
                    }
                    tr{
                        overflow: scroll;
                        &-after{
                            content: ' ';
                            display: block;
                            visibility: hidden;
                            clear: both;
                        }
                    }
                    td{
                        width: 100%;
                    }
                    tbody {
                        height: 376px;
                        overflow-y: auto;
                    }
                    tr:nth-child(odd){
                        background-color: $background;
                    }
                    tr:nth-child(even){
                        background-color: $white;
                    }
                }
            }
        }
    }
    &-edit{
        margin-top: 30px;
        h2{
            text-align: center;
            color: $dark-grey
        }
        &-actions{
            text-align: center;
            height: 75px;
            margin: auto 0;
            padding:10px 0;
            span{
                font-size: 20px;
            }
        }
        .back-button{
            height: 30px;
            text-align: left;
            margin: 10px 0;
            img{
                height: 100%;
                margin-bottom: 3px;
            }
        }
        .edit-button{
            background-color: $linkedin;
            display: inline-block;
            margin: 10px 0;
            padding: 10px 50px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            float: right;
            cursor: pointer;
            &:hover{
                background-color: $linkedin-active;
            }
            color: $white;
        }
        .submit{
            appearance: none;
        }
        .delete-button{
            float: right;
            background-color: $red;
            padding: 10px 50px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            &:hover{
                background-color: $red-active;
            }
            a{
                color: $white;
            }
        }
        &-block{
            background-color: $white;
            text-align: center;
            padding: 20px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            &-form{
                textarea{
                    height: 500px;
                }
            }
            .search-field, .address-field{
                margin-top: 40px;
                float:left;
            }
            hr{
                border: 1px solid $linkedin;
            }
            &-maps{
                display: block;
                width: 100%;
                height: 500px;
            }
            &-text{
                text-align: left;
                p{
                    color: $dark-grey;
                }
            }
            .location{
                width: 100%;
            }
        }
    }
}