.date-location{
    background: $white;
    &-block{
        border-bottom: solid 1px $linkedin;
        color: $linkedin;
        padding: 30px 0;
    }
}
.google-maps-block{
    display: block;
    width: 100%;
    height: 500px;
    // background-color: $black;
}