// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.introduction{
    display: block;
    width: 100%;
    padding: 10vh 0;
    height: auto;
    &-image{
        padding: 7.5vh;
    }
    &-content{
        display: flex;
        align-items: center;
        &-text{
            margin: auto 0;
            background-color: $white;
            padding: 50px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            -webkit-box-shadow: 0px 1px 1px 0px rgba(50, 50, 50, 0.5);
            -moz-box-shadow:    0px 1px 1px 0px rgba(50, 50, 50, 0.5);
            box-shadow:         0px 1px 1px 0px rgba(50, 50, 50, 0.5);
            &:hover{
                transform: translate(0,-10px);
                -moz-transition: all .2s ease-in;
                -o-transition: all .2s ease-in;
                -webkit-transition: all .2s ease-in;
                transition: all .2s ease-in;
            }
        }
        
    }
}
.text-block{
    background-color: $white;
    padding: 5vh 0;
    &-container{
        h2{
            text-align: center;
        }
    }
}
.about-bink{
    height: 100%;
    &-image-overlay{
        background: url('../img/laptop.jpg');
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
	    -webkit-background-size: cover;
        background-size: cover;
        height: 80vh;
        z-index: 0;
        display: flex;
        justify-items: center;
        align-items: center;
    }
    &-container{
        padding-bottom: 0;
        z-index: 1;
        height: 100%;
        background-color: $white;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        -webkit-box-shadow: 0px 1px 1px 0px rgba(50, 50, 50, 0.5);
        -moz-box-shadow:    0px 1px 1px 0px rgba(50, 50, 50, 0.5);
        box-shadow:         0px 1px 1px 0px rgba(50, 50, 50, 0.5);
        &-text{
            padding: 20px;
        }
        &:hover{
            .about-bink-link{
                opacity: 1;
                color: $white;
                background-color: $linkedin;
                a{
                    color: $white;
                }
                &-image{
                    background: url('../img/arrowright.svg');
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    height: 28px;
                    width: 28px;
                }
            }
        }
    }
    &-link{
        margin: 0;
        width: 100%;
        display: flex;
        padding: 20px;
        justify-content: flex-end;
        -moz-transition: all .2s ease-in;
        -o-transition: all .2s ease-in;
        -webkit-transition: all .2s ease-in;
        transition: all .2s ease-in;
        a{
            color: $linkedin;
        }
        &-image{
            display: block;
            background: url('../img/arrowrightlink.svg');
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 28px;
            width: 28px;
            margin-left: 10px;
        }
        
    }
}
