.workshops{
    margin: 5vh;
    h2{
        width: 100%;
        text-align: center;
        margin-bottom: 5vh;
    }
    .workshop-container{
        padding:10px;
        .workshop-item{
            display: block;
            width: 100%;
            height: 500px;
            background-size: cover !important;
            position: relative;
            z-index: 2;
            padding: 15px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            -moz-transition: all .2s ease-in;
            -o-transition: all .2s ease-in;
            -webkit-transition: all .2s ease-in;
            transition: all .2s ease-in;
            &:hover{
                transform: translate(0,-10px);
                -moz-transition: all .2s ease-in;
                -o-transition: all .2s ease-in;
                -webkit-transition: all .2s ease-in;
                transition: all .2s ease-in;
                .workshop-item-overlay{
                    -moz-transition: all .2s ease-in;
                    -o-transition: all .2s ease-in;
                    -webkit-transition: all .2s ease-in;
                    transition: all .2s ease-in;
                    -webkit-box-shadow: 0px 8px 15px 0px rgba(50, 50, 50, 0.5);
                    -moz-box-shadow:    0px 8px 15px 0px rgba(50, 50, 50, 0.5);
                    box-shadow:         0px 8px 15px 0px rgba(50, 50, 50, 0.5);
                    img{
                        opacity: 1;
                        -webkit-transition: opacity .2s ease-in-out;
                        -moz-transition: opacity .2s ease-in-out;
                        -o-transition: opacity .2s ease-in-out;
                        transition: opacity .2s ease-in-out;
                    }
                }
            }
            span{
                color: $white;
                text-shadow: 1px 1px $black;
                // text-transform: uppercase;
                font-weight: bold;
                font-size: 16px;
            }
            &-location{
                float: left;
            }
            &-date{
                float: right;
            }
            &-overlay{
                position: absolute;
                background: $linkedin-transparent;
                color: $white;
                text-shadow: 1px 1px $black;
                bottom: 0;
                height: 40%;
                left: 0;
                z-index: 1;
                display: block;
                width: 100%;
                padding: 15px;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                border-radius: 5px;
                -moz-transition: all .2s ease-in;
                -o-transition: all .2s ease-in;
                -webkit-transition: all .2s ease-in;
                transition: all .2s ease-in;
                h3{
                    font-weight: bold;
                }
                p{
                    color: $white;
                }
                &-link{
                    position: absolute;
                    bottom: 20px;
                    right: 20px;
                    img{
                        opacity: 0;
                        -webkit-transition: opacity .2s ease-in-out;
                        -moz-transition: opacity .2s ease-in-out;
                        -o-transition: opacity .2s ease-in-out;
                        transition: opacity .2s ease-in-out;
                    }
                }
            }
        }
    }
    .latest-workshops-cta{
        margin-top: 5vh;
        float: right;
        cursor: pointer;
        transition:2s;
        -webkit-transition:2s;
        -moz-transition:2s;
        img{
            display: none;
        }
        &-link{
            float: left;
        }
        &:hover{
            img{
                display: block;
            }
        }

    }
}