// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
footer{
    display: block;
    // width: 100%;
    height: 250px;
    background-color: $dark-grey;
    padding: 50px 55px;
}
.footer-block{
    height: 100%;
    color: $white;
    ul{
        margin-left: 0;
        li{
            list-style-type: none;
        }
    }
    .footer-container{
        display: flex;
        height: 100%;
        align-items: center;
        float: left;
        &-logo{
            height: 100px;
        }
    }
    &-links{
        h4{
            font-weight: bold;
        }
        a{
            // color: $white;
            position: relative;
            font-size: 18px;
            &:after{
                content: '';
                position: absolute;
                width: 0; height: 1px;
                display: block;
                // margin-top: 5px;
                right: 0;
                background: #fff;
                transition: width .2s ease;
                -webkit-transition: width .2s ease;
            }
            &:hover{
                text-decoration: none;
                color: $white;
            }
            &:hover:after{
                width: 100%;
                left: 0;
                background: #fff;
            }
        }
    }
    &-social{
        h4{
            font-weight: bold;
        }
        display: inline-block;
        ul{
            display: flex;
            flex-direction: row;
            justify-items: center;
            li{
                width: 100%;
                margin: 0 auto;
                &:first-child{
                    // margin-left: 0;
                }
                &:last-child{
                    // margin-right: 0;
                }
            }
        }
    }
}
