.main-header{
    position: relative;
    .image-overlay{
        background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../img/bink-header.jpg');
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
	    -webkit-background-size: cover;
        background-size: cover;
        height: 75vh;
        z-index: 0;
        display: flex;
        justify-items: center;
        justify-content: center;
        align-items: center;
        img{
            height: 30%;
            z-index: 1;
            &:after{
                opacity: 1;
            }
        }
        h2{
            color: $white;
            font-size: 50px;
        }
        
    }
    .top-bar{
        background: rgba(0,0,0,0);
        -moz-transition: all .2s ease-in;
        -o-transition: all .2s ease-in;
        -webkit-transition: all .2s ease-in;
        transition: all .2s ease-in;
        z-index: 3;
        position: fixed;
        top: 0;
        padding: 0;
        width: 100%;
        .main-logo{
            margin: 1vh 4vh;
            height: 7vh;
            img{
                height: 100%;
                width: auto;
                display: none;
            }
        }
        .menu{
            &-item{
                float: left;
                margin: 0 1.75vh;
                padding: 1vh;
                list-style-type: none;
                // &:last-child{
                //     margin-right: 0;
                // }
            }
            &-link{
                color: $white;
                position: relative;
                &:after{
                    content: '';
                    position: absolute;
                    width: 0; height: 3px;
                    display: block;
                    margin-top: 5px;
                    right: 0;
                    background: #fff;
                    transition: width .2s ease;
                    -webkit-transition: width .2s ease;
                }
                &:hover{
                    text-decoration: none;
                }
                &:hover:after{
                    width: 100%;
                    left: 0;
                    background: #fff;
                }
            }
        }     
    }
    .scrolled{
        background: rgba(255,255,255,1);
        -moz-transition: all .2s ease-in;
        -o-transition: all .2s ease-in;
        -webkit-transition: all .2s ease-in;
        transition: all .2s ease-in;
        .main-logo{
            img{
                display: block;
            }
        }
        .menu{
            &-link{
                color: $linkedin;
                -moz-transition: all .2s ease-in;
                -o-transition: all .2s ease-in;
                -webkit-transition: all .2s ease-in;
                transition: all .2s ease-in;
                &:after{
                    background: $linkedin;
                }
                &:hover:after{
                    background: $linkedin;
                }
            }
        }
    }
}