
/// Regular font family
/// @type List
$text-font-stack: 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

$background: #E3E3E3;
$linkedin: #0077B5;
$linkedin-active: #008FD9;
$red: #AD0000;
$red-active: #C90000;
$linkedin-transparent: rgba(0, 119, 181, 0.5);
$white: #FFFFFF;
$white-transparent: rgba(255, 255, 255, 0.9);
$dark-grey: #313335;
$black: #000000;
$menu-bottom: #C1C1C1;

$main-font: #000000;
